/* Regular font face. */
@font-face {
  font-family: "LEMONMILK-Regular";
  src: url("fonts/LEMONMILK-Regular.ttf") format("truetype"),
    url("fonts/LEMONMILK-Regular.otf") format("opentype"),
    url("fonts/LEMONMILK-Regular.woff2") format("woff2"),
    url("fonts/LEMONMILK-Regular.woff") format("woff");
}

/* Medium font face. */
@font-face {
  font-family: "LEMONMILK-Medium";
  src: url("fonts/LEMONMILK-Medium.ttf") format("truetype"),
    url("fonts/LEMONMILK-Medium.otf") format("opentype"),
    url("fonts/LEMONMILK-Medium.woff2") format("woff2"),
    url("fonts/LEMONMILK-Medium.woff") format("woff");
}

/* Medium Italic font face. */
@font-face {
  font-family: "LEMONMILK-MediumItalic";
  src: url("fonts/LEMONMILK-MediumItalic.ttf") format("truetype"),
    url("fonts/LEMONMILK-MediumItalic.otf") format("opentype"),
    url("fonts/LEMONMILK-MediumItalic.woff2") format("woff2"),
    url("fonts/LEMONMILK-MediumItalic.woff") format("woff");
}

/* Light font face. */
@font-face {
  font-family: "LEMONMILK-Light";
  src: url("fonts/LEMONMILK-Light.ttf") format("truetype"),
    url("fonts/LEMONMILK-Light.otf") format("opentype"),
    url("fonts/LEMONMILK-Light.woff2") format("woff2"),
    url("fonts/LEMONMILK-Light.woff") format("woff");
}

/* Light Italic font face. */
@font-face {
  font-family: "LEMONMILK-LightItalic";
  src: url("fonts/LEMONMILK-LightItalic.ttf") format("truetype"),
    url("fonts/LEMONMILK-LightItalic.otf") format("opentype"),
    url("fonts/LEMONMILK-LightItalic.woff2") format("woff2"),
    url("fonts/LEMONMILK-LightItalic.woff") format("woff");
}

/* Bold font face. */
@font-face {
  font-family: "LEMONMILK-Bold";
  src: url("fonts/LEMONMILK-Bold.ttf") format("truetype"),
    url("fonts/LEMONMILK-Bold.otf") format("opentype"),
    url("fonts/LEMONMILK-Bold.woff2") format("woff2"),
    url("fonts/LEMONMILK-Bold.woff") format("woff");
}

/* Bold Italic font face. */
@font-face {
  font-family: "LEMONMILK-BoldItalic";
  src: url("fonts/LEMONMILK-BoldItalic.ttf") format("truetype"),
    url("fonts/LEMONMILK-BoldItalic.otf") format("opentype"),
    url("fonts/LEMONMILK-BoldItalic.woff2") format("woff2"),
    url("fonts/LEMONMILK-BoldItalic.woff") format("woff");
}

/* Styling for anchor elements. */
a {
  font-family: "LEMONMILK-Light";
}

/* Styling for paragraph elements. */
p {
  font-family: "LEMONMILK-Medium";
  text-align: center;
}

/* Styling for elements with the class "italic". */
.italic {
  font-family: "LEMONMILK-LightItalic";
  text-align: center;
}

/* Styling for elements with the class "bold". */
.bold {
  font-family: "LEMONMILK-Bold";
  text-align: center;
}

/* Styling for button elements. */
button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  font-family: "LEMONMILK-Medium";
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2.5px orange;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

/* Styling for elements in the "container" class. */
.container {
  text-align: center;
}
