@font-face {
  font-family: "LEMONMILK-Regular";
  src: url("fonts/LEMONMILK-Regular.ttf") format("truetype"),
    url("fonts/LEMONMILK-Regular.otf") format("opentype"),
    url("fonts/LEMONMILK-Regular.woff2") format("woff2"),
    url("fonts/LEMONMILK-Regular.woff") format("woff");
}

@font-face {
  font-family: "LEMONMILK-Medium";
  src: url("fonts/LEMONMILK-Medium.ttf") format("truetype"),
    url("fonts/LEMONMILK-Medium.otf") format("opentype"),
    url("fonts/LEMONMILK-Medium.woff2") format("woff2"),
    url("fonts/LEMONMILK-Medium.woff") format("woff");
}

@font-face {
  font-family: "LEMONMILK-MediumItalic";
  src: url("fonts/LEMONMILK-MediumItalic.ttf") format("truetype"),
    url("fonts/LEMONMILK-MediumItalic.otf") format("opentype"),
    url("fonts/LEMONMILK-MediumItalic.woff2") format("woff2"),
    url("fonts/LEMONMILK-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "LEMONMILK-Light";
  src: url("fonts/LEMONMILK-Light.ttf") format("truetype"),
    url("fonts/LEMONMILK-Light.otf") format("opentype"),
    url("fonts/LEMONMILK-Light.woff2") format("woff2"),
    url("fonts/LEMONMILK-Light.woff") format("woff");
}

@font-face {
  font-family: "LEMONMILK-LightItalic";
  src: url("fonts/LEMONMILK-LightItalic.ttf") format("truetype"),
    url("fonts/LEMONMILK-LightItalic.otf") format("opentype"),
    url("fonts/LEMONMILK-LightItalic.woff2") format("woff2"),
    url("fonts/LEMONMILK-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "LEMONMILK-Bold";
  src: url("fonts/LEMONMILK-Bold.ttf") format("truetype"),
    url("fonts/LEMONMILK-Bold.otf") format("opentype"),
    url("fonts/LEMONMILK-Bold.woff2") format("woff2"),
    url("fonts/LEMONMILK-Bold.woff") format("woff");
}

@font-face {
  font-family: "LEMONMILK-BoldItalic";
  src: url("fonts/LEMONMILK-BoldItalic.ttf") format("truetype"),
    url("fonts/LEMONMILK-BoldItalic.otf") format("opentype"),
    url("fonts/LEMONMILK-BoldItalic.woff2") format("woff2"),
    url("fonts/LEMONMILK-BoldItalic.woff") format("woff");
}

a {
  font-family: "LEMONMILK-Light";
}

p {
  font-family: "LEMONMILK-Medium";
}

.italic {
  font-family: "LEMONMILK-LightItalic";
}

.bold {
  font-family: "LEMONMILK-Bold";
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  font-family: "LEMONMILK-Medium";
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2.5px orange;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
